<nav class="navbar navbar-expand navbar-light" style="background-color:#9fd3d5f2">
  <a class="navbar-brand" href="#">Home</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
                  <!-- <a class="nav-item nav-link active" routerLinkActive="active" routerLink="grid">
                          Projects <span class="sr-only"></span></a>
                  <a class="nav-item nav-link" routerLinkActive="active" routerLink="project">Projects Desc</a>         -->
          </div>
        </div>
</nav>
<div  class="container pt-3">
  <router-outlet></router-outlet>
</div>
